*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
html{
    font-size: 14px;
    font-family: sans-serif;
    position: relative;
    min-height: 100%;
}

nav{
    text-align: right;
    padding: 6px;
}
nav button{
    background: #1a73e8;
    color:#fff;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 8px;
    padding: 9px 23px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}
main{
    text-align: center;
    padding-top: 250px;
}
main svg{
    display: block;
    height: 100%;
    width: 100%;

}
main input{
    width: 550px;
    height: 48px;
    border-radius:24px;
    border:0.5px solid;
    border-color: rgb(190, 177, 177);
    padding: 5px 8px 0 14px;
    font-family: arial,sans-serif;
    line-height: 22px;
    margin-bottom: 8px;
    overflow-x: hidden;
}
main input:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}
main button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.search-bar{
    position: relative;
}
.search-bar svg{
    width: 20px;
    position: absolute;
    top: -11px;
    left: 80px;
    display: block;
    fill: #9aa0a6;

}
.circle {
    position: relative;
    height: 45px;
    width: 44px;
    background-color: #ffffff;
    border: 9.5px solid rgb(226, 44, 44);
    border-radius: 50%;
    display: inline-block;
  }
#ny{
    padding-left: 15px;
}
.ara{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
nav a:hover{
    text-decoration: underline;
}
a{
    color:black;
    text-decoration: none;
}
footer{
    
    background-color: #f2f2f2;
    justify-content: space-evenly;
    display: block;
    padding: 0 20px;
    position:fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
}

.fust{
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    padding-left: 30px;

}
.falt{
    align-items: center;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.falt a:hover{
    text-decoration: underline;
}
.fsol{
    width: 33%;
    color:#202124;
    padding: 15px;
    display: flex;
    text-align: left;
}
.fort{
    margin: 0px auto;
    display: block;
}
.fsag{
    width: 33%;
    text-align: right;
    white-space: nowrap;
}